{% extends "base/theme.html" %}
{% block scripts %}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{ STATIC_URL }}theme/js/gmaps.js"></script>
<script src="{{ STATIC_URL }}theme/js/maps.js"></script>
{% endblock %}
{% block main_content %}
<div class="data-layer">
    <ul>
        <li class="location-data" data-latitude="{{ location.position.latitude }}" data-longitude="{{ location.position.longitude }}">{{ location.title }}</li>
    </ul>
</div>
<div class="row main-content" >
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-8" >	
			<h3>{{location.title}}</h3>
				</div>
			<div class="col-md-4 text-right">
					{% with rating=location.get_average_rating %}
		    		{% include 'base/rating.html' %}
					{% endwith %}
			</div>
			<div class="col-md-12">
			<p><b>Location: </b>{{location.address}}</p>
			<p><b>Timings: </b>{{location.hours}}</p>
			{% include 'location/specifics.html' with location=location %}
			<p>{{location.description}}</p>
				{% if location.image_file %}
					<img style="width:100%;max-width:400px;margin-bottom:0.3em;border:1px solid lightgrey" src="{{location.image_file.url}}"></img>
				{% endif %}	
			</div>
			<div class="col-md-4 panel">
				
				<div class="wide-map short-map" id="map">HERE</div>
				
				
			</div>
			<div class="col-md-12">
				<a type="button" href="{% url 'location_update' pk=location.id %}" class="btn btn-default pull-right">Edit</a>
				{% if user_review %}
				<a type="button" href="{% url 'review_update' pk=location.id %}" class="btn btn-default pull-right">Update Review</a>
				{% else %}
				<a type="button" href="{% url 'review_create' pk=location.id %}" class="btn btn-default pull-right">Create Review</a>
				{% endif %}
			</div>
			<div class="col-md-12">
			 {% for review in location.get_reviews %}
			 {% include 'base/review.html' with location=location %}
			 {% endfor %}
			</div>
			</div>
			
		</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}